@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    background: #1e2140;
    font-family: 'Varela Round', sans-serif;
}

.darkmode {
    animation-name: dark-mode;
    animation-duration: 2s;
    animation-timing-function: linear;
    background-color: #0b0d17;
}

@keyframes dark-mode {
    0% {
        background-color: #1e2140
    }

    25% {
        background-color: #181a33
    }

    50% {
        background-color: #131529
    }

    75% {
        background-color: #0f1020
    }

    100% {
        background-color: #0b0d17
    }
}

.container {
    margin-left: auto;
    margin-right: auto;
}

#pomodoro {
    margin-top: 20px;
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    cursor: pointer;
}

.pomodorocolor {
    color: #FFFFFF;
}

.darkpomodoro {
    animation-name: dark-pomodoro;
    animation-duration: 1s;
    animation-timing-function: linear;
    text-shadow: 2px 2px black;
    color: #1e2140;
}

@keyframes dark-pomodoro {
    0% {
        color: #ffffff
    }

    50% {
        color: #78798c
    }

    100% {
        color: #1e2140
    }
}

#options {
    margin-top: 40px;
    text-align: center;
}

#options ul {
    display: inline-block;
    padding: 8px 8px;
    margin: 0px;
    list-style: none;
    background: #151932;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}

#options ul li {
    display: inline;
}

.buttonType {
    color: #9c9c9c;
    background: #151932;
    border: 1px solid #151932;
    font-size: 17px;
    padding: 15px 17px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    cursor: pointer;
    outline: none;
}

/* Classe deveria ser feita no JS */
svg {
    display: block;
    align-items: center;
}

#gear {
    margin: 20px auto;
    fill: #b1b1b1;
    cursor: pointer;
}

#gear:hover {
    animation-name: gear-rotate;
    /* animation-duration: infinite; */
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes gear-rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    width: 40%;
    /* Could be more or less, depending on screen size */
}

h3 {
    letter-spacing: 3px;
    font-size: 15px;
    font-weight: 300;
    display: inline;
}

label {
    margin: 2px;
}

/* Modal Header */
.modal-header {
    padding-top: 5px;
    padding-bottom: 15px;
    font-size: 30px;
    border-bottom: 1px solid #b1b1b1;
}

.modal-time {
    margin-top: 15px;
}

.pomodoro-options {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.time-options {
    display: flex;
    flex-direction: column;
}

.time-input {
    padding: 10px;
    width: 60%;
    height: 25px;
    background: #eef1fa;
    border-radius: 10px;
    border: none;
    -moz-appearance: textfield;
    font-size: 18px;
    font-weight: 600;
}

.time-input:focus,
.time-input:active {
    outline: none;
}

/* Dark-Mode */
.input-darkmode input[type=checkbox] {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.input-darkmode label,
.input-darkmode label::before {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    outline: none;
    user-select: none;
    margin-top: -4px;
}

.switch-mode+label {
    padding: 2px;
    width: 46px;
    height: 21px;
    border-radius: 60px;
}

.switch-mode+label:before,
.switch-mode+label:after {
    display: block;
    position: relative;
    left: 2px;
    top: 6px;
    content: '';
}

.switch+label {
    background-color: #3cbfa8;
    right: 2px;
    border-radius: 60px;
    transition: all 0.4s;
}

.switch-mode+label:after {
    padding: 1px;
    width: 15px;
    height: 15px;
    background-color: #1f212e;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.4s;
}

.switch-mode:checked+label:after {
    transform: translateX(25px);
    background-color: #f5f7ff;
}

/* Modal-Colors */
.modal-options {
    margin-top: 15px;
    padding-top: 30px;
    padding-bottom: 5px;
    border-top: 1px solid #b1b1b1;
    display: flex;
    justify-content: space-between;
}

.division {
    margin-top: 15px;
    padding-top: 30px;
    padding-bottom: 5px;
    border-top: 1px solid #b1b1b1;
}

.volume-control {
    display: flex;
    justify-content: space-around;
}

.volume-control label {
    letter-spacing: 3px;
    font-size: 15px;
    font-weight: 300;
    display: inline;
}

.styled-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
}


/* quando seleciona uma opção (highlight) */
.styled-select option:checked {
    background: #a275f7;
    color: white;
}

.h3-color {
    margin-top: 10px;
}

/* Input Radio */
.input-colors input[type='radio'] {
    display: none;
}

.input-colors label,
.input-colors label:before {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.input-colors label:before {
    border-radius: 50%;
    content: '';
    height: 35px;
    width: 35px;

}

.input-colors input[type='radio']:checked+label:before {
    color: #000000;
    content: "✓";
    font-size: 15px;
    font-weight: bold;
    line-height: 35px;
    text-align: center;
    vertical-align: middle;
}

.blue+label {
    background: #4D4DFF;
    border-radius: 50%;
}

.red+label {
    background: #ff4d4d;
    border-radius: 50%;
}

.green+label {
    background: #4dff5c;
    border-radius: 50%;
}

.purple+label {
    background: #8A2BE2;
    border-radius: 50%;
}

.magenta+label {
    background: #FF00FF;
    border-radius: 50%;
}

.yellow+label {
    background: #E6ED07;
    border-radius: 50%;
    /* color: #800080 */
}

/* Modal-save  */
.modal-save {
    text-align: center;
}

.save-option {
    border: none;
    height: 50px;
    width: 130px;
    position: relative;
    /* background: #4D4DFF; */
    color: #fefefe;
    font-weight: 600;
    bottom: -40px;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
}

.save-option:hover {
    transform: scale(1.1);
}

/* Modal-Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}


/* Pomodoro Clock */
#timer {
    margin: 35px auto;
    padding: 0;
    height: 370px;
    width: 370px;
    background: rgb(18, 22, 49);
    background: linear-gradient(0deg, rgba(18, 22, 49, 1) 25%, rgba(41, 45, 82, 1) 100%);
    box-shadow: black;
    box-shadow: 0px 50px 100px #262a57, 0px -50px 100px #151932;
    transform: rotate(130deg);
    text-align: center;
    display: block;
    border-radius: 100%;
    -webkit-border-radius: 100%;
}

#circle {
    transform: rotate(-130deg);
    position: relative;
    top: 15px;
    left: 15px;
    height: 340px;
    width: 340px;
    background: #151932;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    cursor: pointer;
}

.time {
    position: relative;
    top: 35%;
    display: inline;
    color: white;
    font-size: 80px;
    letter-spacing: 1.3px;
}

.status {
    color: white;
    position: relative;
    top: 45%;
    letter-spacing: 8px;
    font-weight: 400;
}

#progressBar {
    transform: rotate(269deg);
    position: relative;
    top: -105px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100px;
}